<!-- <p>login works!</p> -->
<form class="container" (ngSubmit) = "login()" [formGroup]="userLogin">
    <div class="form-grp" >
        <label >UserId</label>
        <input class="form-control col-sm-6" formControlName="userId"/>
    </div>
    <div class="form-grp">
        <label >Password</label>
        <input class="form-control col-sm-6" formControlName="password"/>
    </div>

    <div>
        <button type="submit" class="btn btn-success">Login</button>
        <button class="btn btn-danger">SignUp</button>
    </div>
</form>